<div class="row">
    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold">Hey there!</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">
                It looks like you're not currently logged in to our website.
                No worries though, you can easily fix that!
                If you already have an account, just click on the button below that says "Log In",
                and you'll be taken to the login page.
                Once you're there, just enter your login details and you'll be good to go!
                If you don't have an account yet, don't worry,
                it's easy to create one! Just click on the "Sign Up" button below, and you'll be taken to the
                registration page where you can create your account and start using our website.
            </p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a
                    href="{{ path("app_login") }}"
                    type="button"
                    class="btn btn-primary btn-lg px-4 gap-3"
                >
                    Log In
                </a>
                <a
                    href="{{ path("app_register") }}"
                    type="button"
                    class="btn btn-outline-secondary btn-lg px-4"
                >
                    Sign Up
                </a>
            </div>
        </div>
    </div>
</div>